.bgBirdNest {
  width: 100%;
  background: url(/images/landing-bg-birdnest-1.svg) right top no-repeat,
    url(/images/landing-bg-birdnest-2.svg) left 800px no-repeat;
  background-size: auto, auto;
}
